
<h1><a href="<%=@recipe.url%>" target="_blank"><%=@recipe.title%></a></h1>
<h3><%=@recipe.time%> minutes </h3>
<br>
<h3><%@ingredients = @recipe.ingredients.split(", ")%></h3>
<%@ingredients.each do |i|%>
<input type="CHECKBOX" name="ingredients"</input>
<%=i.capitalize%>
<br>
<br>
<%end%>
<br>
<h4>1. <%=@recipe.step_1.capitalize%></h4>
<br>
<h4>2. <%=@recipe.step_2.capitalize%></h4>
<br>
<h4>3. <%=@recipe.step_3.capitalize%></h4>
<br>
<a href="/recipes">Main Menu </a><br><br><br><br>

<%if @current_user%>
<br>
<form method="post" action="/recipes/<%= @recipe.id %>">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Recipe">
</form> 
<%end%>

