show erb


<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Recipe Social</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/recipes">Main Menu </a></li>
      <%if @current_user%>
        <li><a href='/recipes/edit/<%=@recipe.id%>'>Edit Recipe</a></li>
        <li><form method="post" action="/recipes/<%= @recipe.id%>">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Recipe"></form> 
        <%end%>
        
      </ul>
    </div>
  </nav>




<h2><a href="<%=@recipe.url%>" target="_blank"><%=@recipe.title%></a></h2>
<h4><%=@recipe.time%> minutes </h4>
<br>
<h4><%@ingredients = @recipe.ingredients.split(", ")%></h4>
<%@ingredients.each do |i|%>
<label>
        <input type="checkbox" class="filled-in" name="ingredients"> 
        <span><%=i.capitalize%></span>
      </label>

<br>
<br>
<%end%>
<br>
<h6>1. <%=@recipe.step_1.capitalize%></h6>
<br>
<h6>2. <%=@recipe.step_2.capitalize%></h6>
<br>
<h6>3. <%=@recipe.step_3.capitalize%></h6>
<br>
<br><br><br><br>



