<h1> Welcome <%=@user.name%></h1>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLptunrG_2Gz4CCdn3vLpLQ1-2CYVFVOBWjg&usqp=CAU" alt="chef">
<br>
<br>
<br>

<h2> My Recipes </h2>
<%myrecipe = Recipe.all%>
<%@list = myrecipe.where(user_id: session[:user_id])%>
<%@list.each do |r| %>
<h3><a href='/recipes/<%=r.id%>'><%=r.title%></a></h3>
<h6><%=r.time%> minutes </h6>
<br>
<h6>Step 1: <%=r.step_1.capitalize%></h6>
<h6>Step 2: <%=r.step_2.capitalize%></h6>
<h6>Step 3: <%=r.step_3.capitalize%></h6>
<br>
<%end%>
<br>
<br>

<a href='/recipes'>List Recipes</a>
<a href='/recipes/new'>Create New Recipe </a>
<a href='/logout'>Log Off</a>
<br>
<br>
<br>

 <form action="/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="id" value=<%= @user.id %>>
    <button type="submit">Delete</button>
 </form>

 <% if @message %>
 <%= @message %>
 <%end%>

